@model WebApplication1.Models.DepartmentModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Depid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Depid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>
<div>

    <button>  <a asp-action="Index">Back to List</a></button>
</div>
